@media only screen and (max-width : 1024px) {
    .container__big-card {
        width: 500px;
        height: 600px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width : 769px) {
    .container__big-card {
        width: 400px;
        height: 600px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width : 480px) {
    .container__big-card {
        width: 250px;
        height: 250px;
        margin-bottom: 120px;
    }

    .big-card__title>h1 {
        font-size: 18px;
        margin-top: 10px;
    }

    .big-card__description>p {
        margin-top: 10px;
        color: #808080;
        font-size: 14;
    }
}

@media only screen and (max-width : 480px) {
    .container__big-card {
        width: 250px;
        height: 220px;
        margin-bottom: 120px;
    }


}