<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
            alt="" height="280px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">titulo qualquer</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus recusandae obcaecati odit nostrum,
            porro
            quod id aperiam unde incidunt facilis
        </p>
    </div>
</div>