<nav class="Menu-bar">
    <div class="menu-options">
        <div class="options-content">

            <ul class="link-content">
                <div class="circle">D</div>
                <li><a href="#">LEARN</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="#">BOOKMARKS</a></li>
                <li><a href="#">UI KIT</a></li>
                <li><a href="#">LAIN NYA</a></li>
            </ul>
        </div>
        <div class="options-link">
            <ul class="social-link">
                <li><a href="https://twitter.com/dribbble" target="_blank"><i class="ph ph-twitter-logo"></i></a></li>
                <li><a href="https://www.instagram.com/dribbble/" target="_blank"><i
                            class="ph ph-instagram-logo"></i></a></li>
                <li><a href="https://dribbble.com/dwinawan" target="_blank"><i class="ph ph-dribbble-logo"></i></a>
                </li>
            </ul>
        </div>
    </div>


</nav>