<nav class="Menu-bar">
    <div class="menu-options">
        <div class="options-content">

            <ul class="link-content">
                <div class="circle">D</div>
                <li><a href="#">LEARN</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">BOOKMARKS</a></li>
                <li><a href="#">UI KIT</a></li>
                <li><a href="#">LAIN NYA</a></li>
            </ul>
        </div>
        <div class="options-link">
            <ul class="social-link">
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
            </ul>
        </div>
    </div>


</nav>