@media only screen and (max-width : 1024px) {

    .articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media only screen and (max-width : 480px) {

    .articles {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width : 414px) {
    .articles {
        margin: 0;
    }
}